# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled executables
*.exe
*.out
*.app

# Compiled Debug files
*.pdb
*.dSYM/

# Visual Studio specific files
*.sdf
*.opensdf
*.suo
*.ncb
*.aps
*.vspscc
*.vssscc
*.vst
*.bak
*.[Cc]ache
*.ilk
*.log
*.rdl
*.user
*.iobj
*.ipdb
*.ide
*.sbr
*.scc
*.tlb
*.tlh
*.tmp
*.tlog
*.idb
*.pch
*.pdb
*.obj
*.vspscc
*.vssscc

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Windows 10 upgrade log files
$WINDOWS.~BT/
$Windows.~WS/

# Visual Studio Code specific files
.vscode/